<div class="header">
    <div class="cont-H"> 
        <div class="cont-izq">
            <div class="logo">
                <img src="assets/videos/logo.svg" 
     alt="OutdoorX Experiences Logo"
     width="250" 
     height="100">
            </div>
            <div class="center">
                <app-dropdown>
                </app-dropdown>
                <app-how-work>
                </app-how-work>
            </div>
        </div>
        <div class="cont-der">
            <div class="Sign-in">
               <button>Sign in  </button> 
            </div>
            <div class="Sign-up">
                <BUTTON>Sign up</BUTTON>
            </div>
        </div>
    </div>


</div>

