<section class="video-banner">
  <!-- Contenedor del video -->
  <div class="video-container">
    <video 
      class="background-video"
      autoplay
      muted
      loop
      playsinline
      [poster]="">
      <source src="assets/videos/videorifa.mp4" type="video/mp4">
      Tu navegador no soporta videos HTML5
    </video>
  </div>

  <!-- Contenido superpuesto -->
  <div class="content-overlay">
    <h1 class="banner-title">Dona y gana en grande  </h1>
    <p class="banner-subtitle">Descubre experiencias únicas ayudando </p>
  </div>
</section>