<div class="Cont-Card" > 
    <div class="Cont-Card1">
        
        <div class="Cont-izq">
            <div class="title-izq">
                <a> Celebrate earth month with Idina Menzel and Redwood </a>
            </div>
            <div class="center">
                <a> Supports circle of life </a>
            </div>
            <div class="btn-izq">
                <button> <a> enter now </a> </button>
            </div>

        </div>
        <div class="Cont-der">
            <img style="height: 100%; width: 100%;" src="assets/videos/img1.png" alt="Imagen"  >
            <div class="btn-img">
                <div class="btn-cont">
                    <a> theatre </a>    
                </div>
            </div>
        </div>
    </div>
</div>