html {
    box-sizing: border-box;
    overflow-x: hidden;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  /* Contenedor principal */
  body {
    width: 100%;
    overflow-x: hidden;
    position: relative;
  }
  